.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  width: 400px;
  text-align: center;
}

img {
<<<<<<< HEAD
  width: 900px;
  height: 900px;
=======
  width: 1000px;
  height: 500px;
>>>>>>> 0e5e87e1e78a7d43dfd5ac6cb7735b2642ca7416
  margin: 10px;
}
